* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


.produtos-title {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 2.5rem;
    color: #3e2723;
}
